#chat-groups-container {
    display: flex;
    flex-direction: column;
    background-color: #DDC8B7;
    position: relative;
    margin-right: 20px;
    border-radius: 5px;
}
#chat-groups-container h1 {
    text-align: center;
    height: 1.5em;
    background-color: #9FAC9D;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#add-chat-button {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 1em;
    text-align: center;
    position: absolute;
    right: 0;
    top: -9px;
    background-color: #CDACA1;
    border: 2px solid #CDACA1;
    color: white;
    transition: background-color 0.3s ease;
}
#add-chat-button:hover {
    background-color: #BDA097;
    color: whitesmoke;
    border: 2px solid #BDA097;
}
.chat-icon {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
    padding: .5em;
    background-color: #CDACA1;
    border: 2px solid #CDACA1;
    font-size: 1.5em;
    border-radius: 5px;
    text-align: left;
    color: grey;
    transition: background-color 0.3s ease;
    /* transition: text-color 0.3s ease; */
}
.chat-icon:hover {
    background-color: #BDA097;
    color: whitesmoke;
    border: 2px solid #BDA097;
}

.form-container {
    position: absolute;
    background-color: white;
}

#loading-message {
    position: absolute;
    top: 100px;
    left: 50px
}