* {
    font-family:'Arial', sans-serif;
}

.app-container {
    display: grid;
    grid-template-columns: 10% 2fr 70%;
    height: 100vh;
}

#sidebar {
    grid-column: 1;
    background-color:antiquewhite;
}

.sidebar__button {
    margin: .5em;
    padding: 1em;
    background-color: antiquewhite;
    border: 0px solid ;
}
#profile-icon {
    /* margin: 1em; */
    font-size: large;
}



#chat-groups-container {
    grid-column: 2;
    background-color: white;
}
#chat-groups-header {
    margin: 1em;
}
.chat-preview {
    margin: .25em;
    padding: .5em;
    background-color: rgb(194, 193, 193);
    border: 2px solid rgb(164, 163, 163);
    font-size: 1.5em;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}



#messages-container {
    grid-column: 3;
    display: grid;
    grid-template-rows: 15% 60% 1fr;
    background-color:rgb(223, 251, 251);
}
#messages-header {
    grid-row: 1;
    padding: .75em;
    border-bottom: .25em solid rgb(170, 191, 191);
}

#messages-display {
    grid-row: 2;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 10% 10% 1fr
}
.chat-bubble-from {
    grid-column: 1;
    grid-row: 1;
    height: 2em;
    margin: .5em;
    padding: .5em;
    border: 1px solid rgb(164, 163, 163);
    background-color: rgb(174, 231, 231);
    border-radius: 10px;
}
.chat-bubble-to {
    grid-column: 3;
    grid-row: 2;
    height: 2em;
    margin: .5em;
    padding: .5em;
    border: 1px solid rgb(164, 163, 163);
    background-color: rgb(174, 231, 231);
    text-align: right;
    margin-right: 5em;
    border-radius: 10px
}


#input-box {
    width: 80%;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
}