* {
    font-family:'Arial', sans-serif;
}

#screen {
    display: flex;
}

#screen__sidebar {
    flex: 2
}

#messages-page {
    flex: 8;
    display: flex;
    padding: 20px;
    background-color: #DFD8C5;
}

#chat-groups-container {
    flex: 3
}

#chat-display-container {
    flex: 7
}